body {
    background: #f8f8f8;
}

ul {
    list-style-type: none;
}

.menu {
    height: 65px;
}

.container-plain {
    padding: 0!important;
}

.faux-banner {
    background: #40A9BC;
    height: 199px;
    min-height: 199px;
    z-index: -1;
}

.row {
    margin-right: 0!important;
    margin-left: 0!important;
}

/*.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}*/

.container.body{
    padding: 0 27px 80px;
    margin-bottom: 76px;
    margin-top: -155px;
    background: #FFF;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, .2);;
}
.container.body>.row>div {
    padding: 27px;
}

.content>div{
    width: 100%;
    margin-bottom: 32px;
}

p:last-child {
    margin: 0;
}

.card-low {
    border-radius:2px;
    border: #EDEDED solid 1px;
}

.card-high {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, .04);
    padding: 0!important;
}

.bg-blue {
    background:#40A9BC;
}

.post-image>img {
    width: 100%;
    height: auto;
}

.go-compare {
    padding: 26px 0;
}

.go-compare>a {
    width: fit-content;
    float: none; 
    margin: 0 auto;
}

.button-green, .phone-cta, a.button-green {
    padding: 12px 48px;
    border-radius: 2px;
    background: #79CA1B;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    color: #FFF;
}

.article-image>img {
    float: none; 
    margin: 0 auto;
}

.end-quote {
    padding: 40px;
    color: #fff;
}

.comment-section {
    background: #f8f8f8;
    padding: 45px 39px;
}

.suggestion-head {
    padding: 0 34px 20px;
}
.suggestion-carousel {
    margin: 0 3px;
}

.suggestion-desc {
    padding: 16px 18px 22px;
}

.suggestion-title {
    color: #40A9BC;
}

.suggestion-carousel>.row>div {
    margin: 0 13px;
    padding: 0;
}

.suggestion-content>div {
    padding: 0;
}
.suggestion-image>img {
    width: 100%;
}
div.suggestion-nav {
    width: 12px!important;
}

.suggestion-content, .suggestion-carousel {
    display: inline-flex;
}
.suggestion-carousel>div {
    margin: 0 13px;
    width: 25%!important;
}

.container.footer-quote {
    padding: 40px 0;
    background-image: url("images/bg-playstation.png");
    background-repeat: no-repeat, repeat;
}

.container.footer-menu {
    padding: 54px 0 66px;
}

.footer-icons>ul>li {
    display: inline;
}