body {
    background: #f8f8f8;
}

ul.no-dots {
    list-style-type: none;
}

.menu {
    height: 65px;
    background: #fff;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, .2);;
}

.menu-logo {
    height: 40px;
}
.menu-logo-container {
    padding: 12px 0;
    border-right: 1px #F3F3F3 solid;
}

.menu-nav-container {
    padding: 20px 0!important;
}

.menu-nav-container>ul {
    margin-bottom:auto;
    margin-top:auto;
}

.container-plain, .container-plain div {
    padding-left: 0!important;
    padding-right: 0!important;
}

.faux-banner {
    background: #40A9BC;
    height: 199px;
    min-height: 199px;
    z-index: -1;
}

.row {
    margin-right: 0!important;
    margin-left: 0!important;
}

.menu-item {
    padding: 25px 20px;
}

.container.body{
    padding: 0 27px 80px;
    margin-bottom: 76px;
    margin-top: -155px;
    background: #FFF;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, .2);;
}
.container.body>.row>div {
    padding: 27px;
}

.content>div{
    width: 100%;
    margin-bottom: 32px;
}

p:last-child {
    margin: 0;
}

.card-low {
    border-radius:2px;
    border: #EDEDED solid 1px;
}

.card-high {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, .04);
    padding: 0!important;
}

.bg-blue {
    background:#40A9BC;
}

.post-image>img {
    width: 100%;
    height: auto;
}

.go-compare {
    padding: 26px 0;
}

.go-compare>a {
    width: fit-content;
    float: none; 
    margin: 0 auto;
}

.button-green, .phone-cta, a.button-green {
    padding: 12px 48px;
    border-radius: 2px;
    background: #79CA1B;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    color: #FFF;
    text-align: center;
}

.article-image>img {
    float: none; 
    margin: 0 auto;
}

.end-quote {
    padding: 40px;
    color: #fff;
}

.end-quote .form-row>.form-group {
    padding: 0 8px!important;
}

.comment-section {
    background: #f8f8f8;
    padding: 45px 39px;
}

.suggestion-head {
    padding: 0 34px 20px;
}
.suggestion-carousel {
    margin: 0 3px;
}

.suggestion-desc {
    padding: 16px 18px 22px;
}

.suggestion-title {
    color: #40A9BC;
}

.suggestion-carousel>.row>div {
    margin: 0 13px;
    padding: 0;
}

.suggestion-content>div {
    padding: 0;
}
.suggestion-image>img {
    width: 100%;
}
div.suggestion-nav {
    width: 12px!important;
}

.suggestion-content, .suggestion-carousel {
    display: inline-flex;
}
.suggestion-carousel>div {
    margin: 0 13px;
    width: 25%!important;
}

.container.footer-quote {
    padding: 40px 0;
    background-image: url("images/bg-playstation.png");
    background-repeat: repeat;
}

.footer-menu {
    padding: 54px 0 66px;
    border-bottom: 1px #E8E8E8 solid;
}

.footer-icons>ul>li, .menu-nav-container>ul>li {
    display: inline;
}

.footer-copyright {
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidebar>div {
    margin-bottom: 23px;
}

.page-contents-header, .page-categories-header, .page-guides-header {
    padding: 15px 17px 11px;
    border-bottom: #EDEDED solid 1px;
}

.page-contents-entries, .page-categories-entries {
    padding: 25px 19px 35px 19px;
}

.page-guides-entries {
    padding: 19px 16px;
}
.page-guides-article {
    margin-bottom: 19px;
}
.page-guides-thumbnail>img {
    width: inherit;
}

.page-guides-link {
    padding-right: 0!important;
}

.blue-header {
    background: #40A9BC;
    color: #fff;
}
