body {
    background: #f8f8f8;
}

.menu {
    height: 65px;
}

.faux-banner {
    background: #40A9BC;
    height: 199px;
    min-height: 199px;
    z-index: -1;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/*.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}*/

.container.body{
    padding: 27px;
    margin-top: -155px;
    background: #FFF;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, .2);;
}
.container.body>.row>div {
    padding: 27px;
}

.content>div{
    width: 100%;
    margin-bottom: 32px;
}

p:last-child {
    margin: 0;
}

.card-low {
    border-radius:2px;
    border: #EDEDED solid 1px;
}

.card-high {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, .4);
}

.bg-blue {
    background:#40A9BC;
}

.post-image>img {
    width: 100%;
    height: auto;
}

.go-compare {
    padding: 26px 0;
}

.go-compare>a {
    width: fit-content;
    float: none; 
    margin: 0 auto;
}

.button-green, .phone-cta, a.button-green {
    padding: 12px 48px;
    border-radius: 2px;
    background: #79CA1B;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
    color: #FFF;
}

.article-image>img {
    float: none; 
    margin: 0 auto;
}

.end-quote {
    padding: 40px;
    color: #fff;
}

.comment-section {
    background: #f8f8f8;
    padding: 45px 39px;
}